/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.all {
    background-image: url(assets/blur/home-gradient-light-sm.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}