<div class="bg-white border mt-5 border-gray-200 rounded-lg">
    <div class="border-b p-4">
        <p class="text-gray-600">
            <fa-icon [icon]="faClock" size="lg"></fa-icon> Sale ends January 28, 2023 at 10:13 AM
            GMT+1
        </p>
    </div>
    <div class="bg-slate-50 p-4">
        <div class="flex flex-col mb-4">
            <p class="text-gray-500 text-base">Current price</p>
            <p class="text-gray-800 text-3xl font-bold">{{nft.price}} ETH</p>
        </div>
        <div class="flex justify-between items-center font-bold">
            <a (click)="addToCart(nft)" data-modal-toggle="cart-modal"
                class="block mr-1.5 text-lg w-full px-10 py-4 text-center rounded-lg cursor-pointer text-white bg-blue-500 hover:bg-blue-400 focus:ring-4 focus:outline-none focus:ring-blue-300">Add
                to cart</a>
            <a href=""
                class="block ml-1.5 text-lg w-full px-10 py-4 text-center rounded-lg text-blue-500 bg-white border-2 hover:shadow focus:outline-none focus:ring-blue-300"><fa-icon
                    [icon]="faTag" size="lg"></fa-icon> Make
                offer</a>
        </div>
    </div>
</div>