<div class="bg-white rounded-xl shadow-lg mx-3 w-64 h-full">
    <a [routerLink]="['collection', collection.name]">
        <img *ngIf="retrievedImage != null" class="rounded-t-xl w-64" [src]="retrievedImage" alt="" />
        <div *ngIf="retrievedImage == null"
            class="flex justify-center items-center rounded-t-xl w-64 h-64 bg-gray-100">
            <fa-icon [icon]="faImage" class="text-gray-200" size="6x"></fa-icon>
        </div>
        <div class="px-5 py-3">

            <h5 class="text-xl font-bold tracking-tight text-gray-900 truncate">{{collection.name}}</h5>

            <p class="mb-3 font-bold text-gray-700">{{collection.categoryName}}</p>
            <p class="font-bold text-gray-500">Total items <span class="text-gray-900">{{collection.items}}</span></p>
            <p class="mb-3 font-bold text-gray-500">Created at <span
                    class="text-gray-900">{{collection.createdAt}}</span></p>
        </div>
    </a>
</div>