<div class='flex md:block flex-col justify-center items-center'>
    <div class='text-center md:text-start text-bg-blue dark:text-white'>
        <h1 class='font-bebasNeue text-6xl md:text-7xl xl:text-8xl 2xl:text-9xl break-normal'>Jisa a bot that <br class='hidden md:block' />rules them all</h1>
    </div>

    <div class='text-center md:text-start text-bg-blue dark:text-white mt-2 mx-4 md:mx-0'>
        <p class='font-poppins text-[10px] sm:text-xs xl:text-paragraph 2xl:text-base break-normal'>We're announcing a new type of community designed to reward <br class='hidden md:block' />public goods and build a sustainable future for Ethereum.</p>
    </div>

    <button class='bg-bg-skyBlue rounded-full font-poppins font-bold text-white text-xs md:text-sm 2xl:text-base select-none py-3 px-14 my-5'>Buy</button>
</div>
<div class='flex md:block flex-col justify-center items-center'>
    <div class='text-center md:text-start text-bg-blue dark:text-white'>
        <h1 class='font-bebasNeue text-6xl md:text-7xl xl:text-8xl 2xl:text-9xl break-normal'>Jisa a bot that <br class='hidden md:block' />rules them all</h1>
    </div>

    <div class='text-center md:text-start text-bg-blue dark:text-white mt-2 mx-4 md:mx-0'>
        <p class='font-poppins text-[10px] sm:text-xs xl:text-paragraph 2xl:text-base break-normal'>We're announcing a new type of community designed to reward <br class='hidden md:block' />public goods and build a sustainable future for Ethereum.</p>
    </div>

    <button class='bg-bg-skyBlue rounded-full font-poppins font-bold text-white text-xs md:text-sm 2xl:text-base select-none py-3 px-14 my-5'>Buy</button>
</div>
<div class='flex md:block flex-col justify-center items-center'>
    <div class='text-center md:text-start text-bg-blue dark:text-white'>
        <h1 class='font-bebasNeue text-6xl md:text-7xl xl:text-8xl 2xl:text-9xl break-normal'>Jisa a bot that <br class='hidden md:block' />rules them all</h1>
    </div>

    <div class='text-center md:text-start text-bg-blue dark:text-white mt-2 mx-4 md:mx-0'>
        <p class='font-poppins text-[10px] sm:text-xs xl:text-paragraph 2xl:text-base break-normal'>We're announcing a new type of community designed to reward <br class='hidden md:block' />public goods and build a sustainable future for Ethereum.</p>
    </div>

    <button class='bg-bg-skyBlue rounded-full font-poppins font-bold text-white text-xs md:text-sm 2xl:text-base select-none py-3 px-14 my-5'>Buy</button>
</div>
<div class='flex md:block flex-col justify-center items-center'>
    <div class='text-center md:text-start text-bg-blue dark:text-white'>
        <h1 class='font-bebasNeue text-6xl md:text-7xl xl:text-8xl 2xl:text-9xl break-normal'>Jisa a bot that <br class='hidden md:block' />rules them all</h1>
    </div>

    <div class='text-center md:text-start text-bg-blue dark:text-white mt-2 mx-4 md:mx-0'>
        <p class='font-poppins text-[10px] sm:text-xs xl:text-paragraph 2xl:text-base break-normal'>We're announcing a new type of community designed to reward <br class='hidden md:block' />public goods and build a sustainable future for Ethereum.</p>
    </div>

    <button class='bg-bg-skyBlue rounded-full font-poppins font-bold text-white text-xs md:text-sm 2xl:text-base select-none py-3 px-14 my-5'>Buy</button>
</div>
<div class='flex md:block flex-col justify-center items-center'>
    <div class='text-center md:text-start text-bg-blue dark:text-white'>
        <h1 class='font-bebasNeue text-6xl md:text-7xl xl:text-8xl 2xl:text-9xl break-normal'>Jisa a bot that <br class='hidden md:block' />rules them all</h1>
    </div>

    <div class='text-center md:text-start text-bg-blue dark:text-white mt-2 mx-4 md:mx-0'>
        <p class='font-poppins text-[10px] sm:text-xs xl:text-paragraph 2xl:text-base break-normal'>We're announcing a new type of community designed to reward <br class='hidden md:block' />public goods and build a sustainable future for Ethereum.</p>
    </div>

    <button class='bg-bg-skyBlue rounded-full font-poppins font-bold text-white text-xs md:text-sm 2xl:text-base select-none py-3 px-14 my-5'>Buy</button>
</div>
