<nav (scroll)="onWindowScroll($event);" class="flex flex-shrink-0 z-40 justify-between items-center py-9 h-20"
    id="navbar">

    <!-- Logo -->
    <a routerLink="/" class="flex items-center mx-8 w-full select-none">
        <img src="assets/logo/nft-logo.png" alt="nft-logo" width="40px" height="18px" />
        <h1 class="text-xl font-extrabold mx-4">NFT Store</h1>
    </a>

    <!-- Search Bar -->
    <div class="relative w-full items-center">
        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
            <fa-icon [icon]="faSearch" class="mx-2 w-5 h-5 text-gray-400"></fa-icon>
        </div>
        <input type="text" id="searchbar"
            class="bg-gray-100 border border-gray-300 text-gray-800 text-sm rounded-3xl focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 px-2.5 py-2.5"
            placeholder="Search for Products...">
    </div>

    <!-- Links -->
    <ul class="flex flex-row justify-between items-center w-full mx-8 font-bold select-none">
        <!-- <li class="mx-3"><a href="#home">Home</a></li> -->
        <li data-dropdown-toggle="exploreDropdown" class="mx-3 cursor-pointer" type="button">Explores
        </li>
        <li data-dropdown-toggle="createDropdown" class="mx-3 cursor-pointer">Create</li>
        <li class="mx-3 cursor-pointer">
            <div class='flex items-center justify-center cursor-pointer select-none mb-5 md:mb-0'>
        <li data-dropdown-toggle="accountDropdown" class="mx-3"><fa-icon [icon]="faCircleUser" size="lg"></fa-icon></li>
        <!-- <img src="assets/logo/nft-logo.svg" alt="profil-picture" width="40px" height="10px" class='bg-transparent' /> -->
        </div>
        </li>
        <li *ngIf="isActive" data-modal-toggle="cart-modal" class="mx-3 cursor-pointer"><fa-icon [icon]="faShoppingCart"
                size="lg"></fa-icon></li>
        <li *ngIf="!isActive" data-modal-toggle="auth-modal" class="mx-3 cursor-pointer"><fa-icon [icon]="faShoppingCart"
                size="lg"></fa-icon></li>
    </ul>

    <!-- Explore Dropdown menu -->
    <div id="exploreDropdown" class="hidden z-10 w-44 bg-white border rounded-lg divide-y divide-gray-100 shadow">
        <ul *ngFor="let category of categories" class="text-sm text-gray-700" aria-labelledby="exploreDropdown">
            <li>
                <a href="{{'#' + category.name}}"
                    class="flex items-center text-sm font-semibold py-3.5 px-4 border-b rounded-lg hover:bg-gray-100">{{category.name}}</a>
            </li>
        </ul>
    </div>

    <!-- Create Dropdown menu -->
    <div id="createDropdown" class="hidden z-10 w-44 bg-white border rounded-lg divide-y divide-gray-100 shadow">
        <ul class="text-sm text-gray-700" aria-labelledby="createDropdown">
            <li>
                <a routerLink="create/collection"
                    class="flex items-center text-sm font-semibold py-3.5 px-4 border-b rounded-t-lg hover:bg-gray-100">Collection</a>
            </li>
            <li>
                <a routerLink="create/item"
                    class="flex items-center text-sm font-semibold py-3.5 px-4 rounded-b-lg hover:bg-gray-100">NFT</a>
            </li>
        </ul>
    </div>

    <!-- Account Dropdown menu -->
    <div id="accountDropdown" class="hidden z-10 w-60 bg-white border rounded-lg divide-y divide-gray-100 shadow">
        <ul class="text-sm text-gray-700" aria-labelledby="accountDropdown">
            <li>
                <!-- Not autheticated -->
                <a *ngIf="!isActive" data-modal-toggle="auth-modal"
                    class="flex items-center text-sm font-semibold py-3.5 px-4 border-b hover:bg-gray-100 rounded-t-lg cursor-pointer"><fa-icon
                        [icon]="faUser" class="mr-4" size="lg"></fa-icon> Profile</a>
                <!-- Autheticated -->
                <a *ngIf="isActive" [routerLink]="['/account', user.walletAddress]"
                    class="flex items-center text-sm font-semibold py-3.5 px-4 border-b hover:bg-gray-100 rounded-t-lg"><fa-icon
                        [icon]="faUser" class="mr-4" size="lg"></fa-icon> Profile</a>
            </li>
            <li>
                <a href=""
                    class="flex items-center text-sm font-semibold py-3.5 px-4 border-b hover:bg-gray-100"><fa-icon
                        [icon]="faHeart" class="mr-4" size="lg"></fa-icon> Favorites</a>
            </li>
            <li>
                <a routerLink="create/collection"
                    class="flex items-center text-sm font-semibold py-3.5 px-4 border-b hover:bg-gray-100"><fa-icon
                        [icon]="faPencil" class="mr-4" size="lg"></fa-icon> Create</a>
            </li>
            <li>
                <a href=""
                    class="flex items-center text-sm font-semibold py-3.5 px-4 hover:bg-gray-100 rounded-b-lg"><fa-icon
                        [icon]="faGear" class="mr-4" size="lg"></fa-icon> Settings</a>
            </li>
            <li *ngIf="isActive">
                <a (click)="logout()"
                    class="flex items-center text-sm font-semibold py-3.5 px-4 hover:bg-gray-100 rounded-b-lg cursor-pointer"><fa-icon
                        [icon]="faLogout" class="mr-4" size="lg"></fa-icon> Logout</a>
            </li>
        </ul>
    </div>
</nav>

<app-auth-modal></app-auth-modal>

<app-cart-modal [user]="user" [carts]="carts" [nfts]="nfts" [retrievedImages]="retrievedImages" [totalItems]="totalItems" [totalPrice]="totalPrice"></app-cart-modal>