<div class="bg-white border mt-5 border-gray-200 rounded-lg overflow-y-hidden">
    <div class="border-b p-4">
        <p class="font-bold text-gray-700">
            <fa-icon [icon]="faGrip" size="lg"></fa-icon> More from this Collection
        </p>
    </div>
    <div class="flex items-center bg-slate-50 p-4 overflow-y-auto">
        <ng-container *ngFor="let nft of nfts">
            <app-item-card [nft]="nft" [retrievedImage]="retrievedImages[nft.name]"></app-item-card>
        </ng-container>
    </div>
</div>