<div class="bg-white border mt-5 border-gray-200 rounded-lg">
    <div class="border-b p-4">
        <p class="font-bold text-gray-700">
            <fa-icon [icon]="faBarsStaggered" size="lg"></fa-icon>  Description
        </p>
    </div>
    <div class="bg-slate-50 p-4">
        <div class="flex flex-col">
            <p class='text-base text-gray-500 mb-3'>By <a [routerLink]="['/account', owner.walletAddress]" class="font-bold text-gray-900">{{owner.username}}</a> · Category <span
                    class="font-bold text-gray-900">{{collection.categoryName}}</span></p>
            <p class='text-base text-gray-700'>{{collection.description}}</p>
        </div>
    </div>
</div>